# phpstan.neon


includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - includes/
        - yardlii-core-functions.php
        - tests/
    
    bootstrapFiles:
        - phpstan-bootstrap.php
    
    excludePaths:
        - tests/*
        - vendor/*
    scanDirectories:
        - includes