# phpstan.neon
includes:
    - phpstan-baseline.neon

parameters:
    level: 6
    paths:
        - includes/
        - yardlii-core-functions.php
        - tests/
    
    # POINT TO THE ROOT FILE (Where we added the mocks)
    bootstrapFiles:
        - phpstan-bootstrap.php
    
    excludePaths:
        - tests/*
        - vendor/*
    scanDirectories:
        - includes